@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: rgb(186, 120, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 850px;
    background-image: url(https://imgix.bustle.com/uploads/image/2023/3/15/98485c4a-484f-4383-99ac-7f55c3cbbc3d-taylor-swift-eras-tour-openers-opening-acts-dates-concerts.jpg?w=614&fit=crop&crop=faces&auto=format%2Ccompress);
    border-radius: 40px;
    box-shadow: 0px 8px 10px rgba(112, 7, 126, 0.5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(111, 8, 121, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 6px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

/* Estilo para os botões */
.botao-roxo {
    background-color: #b87abd;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.botao-roxo:hover {
    background-color: #4B035C;
}
